* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: black;
    --bar-color: #222222;
    --button-color: #4A4A4A;
}

img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
}

svg {
    width: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    background-color: aqua;
    padding-left: 40px;
    padding-right: 40px;
}

.user-container {
    padding-left: 40px;
    padding-right: 40px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--bar-color);
}

.col {
    flex-grow: 1;
    border: 1px dashed red;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.col-small{
    border: 1px dashed red;
    display: flex;
    padding-bottom: 50px;
    gap: 40px;
}

.end-meeting-button {
    background-color: var(--button-color);
    color: red;
    padding: 30px 30px;
}
